lib/*.o
src/*.o
src/debug/*.o
src/teken_state.h
src/vtc_h2_dectbl.h
vtest
vtest.pc
ext_foo.so

# droppings from submodule use
tests/*.log
tests/*.trs
src/.deps/
src/.dirstamp
lib/.deps/
lib/.dirstamp
